* {
  margin: 0;
  padding: 0;
    box-sizing: border-box;
    background-image: url();
    font-family: 'Poppins', sans-serif;
}


.columna {
    float: left;
    width: 50%;
    padding-right: 5px;
}

.fila::after {
    content: "d";
    clear: both;
    display: table;
}

.fila {

    width: 100%;
}
.center-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
  padding: 25px;
 
}
#titulo {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  animation: rainbow 3s infinite;
}
.navbar-expand-md{
  background-color: #6abefa;
}

@keyframes rainbow {
  0% { color: red; }
  16.67% { color: orange; }
  33.33% { color: purple; }
  50% { color: green; }
  66.67% { color: blue; }
  83.33% { color: purple; }
  100% { color: red; }
  100% {color: deepskyblue;}
}
h1, h2, h3 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  animation: cambioColor 3s infinite;
}

@keyframes cambioColor {
  0% { color: red; }
  25% { color: green; }
  50% { color: blue; }
  75% { color: orange; }
  100% { color: purple; }
}
.image-description {
  display: none;
}
#image-description-1{
  display: none;
}
.toggle-button {
  font-size: 12px;
  padding: 5px 10px;
  width: 40%;
}

.custom-image {
  width: 300px;
  height: 200px;
}
.custom-img{
  width: 280px;
  height: auto;
}

header {
  
  color: #fff;
  padding: 0px;
  text-align: center;
}

/* computers*/
#galeria img{
  width: 100%;
  height: 300px;
}
#galeria .col-lg-4{
  margin: 0 !important;
  padding: 25px;

}
#galeria img:hover {
  border: 5px solid #fff  ;
}

.container-img{
  position: relative;
  left: 40%;
  top: 40%;
  transform: translate(-50%, -0%);
  -webkit-transform: translate(-50%, -0%);
  -moz-transform: translate(-50%, -0%);
  -ms-transform: translate(-50%, -0%);
  -o-transform: translate(-50%, -0%);
  padding: 0px;
  width: 90%;
  text-align: center;
  background-color: #fff;
  color: #0a0008;
  margin: 10%;
}

.imagen:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;}
.container.styles{
  margin: 0 auto !important;
}
.col{
  margin: 0 auto !important;
  height: auto;
  margin: 0 auto;
  padding-top: 20px;
}
.banner-video{
  background-image:url(assets/img/imagen\ 29.jpg) ;
  padding: 200px 0;
  position:relative;
  text-align: center;
  width: 80%;
  margin: auto;
}
.banner-video img{
  width: 80px;
  height: 80px;
  position:relative;
}
.mapa{
  margin-top: 40px;
}
.info {
  flex: 1;
  padding: 20px;
  /* Estilos para la información, como fuente, color de fondo, bordes, etc. */
}

h2 {
  font-size: 24px;
  color: #333;
}

p {
  font-size: 16px;
  color: #666;
}
.texto-p{
  margin-top: 30px;
  padding: 0px;
}
.styles-pc{
  margin-top: 30px;
}
.banner-video{
  margin-top: 30px;
}
.container-styles{
  margin-top: 50px;
  margin-left: 80px;
  margin-right: 80px;
}

.container-img{
  background-color: rgba(77, 196, 243, 0.7);
  color: #fff;
  padding: 0px;

}
.container-pres{
  margin: auto;
  width: 100%; 
  padding: 100px;
  font-family: 'Arial', sans-serif; 
  color: #070707;  
}

.container-img{
  width: 80%;
  
}
/*logo redes sociales*/
.iconos-redes-header{
  width: 30px;
  margin: 10px 5px;

}

/*search*/
.search-est{
  width: 100px;
}
.btn-search {
  font-size: 14px;
  padding: 5px 10px;
  width: 120px;
  height: 50px;
}
.search-input {
  padding: 22px 30px; /* Ajusta el relleno superior e inferior y el relleno izquierdo y derecho según tu preferencia */
  font-size: 50px; /* Ajusta el tamaño de fuente según tu preferencia */
  margin: 10; /* Ajusta el margen según tu preferencia */
}

/* tabla m*/

table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
  white-space: nowrap;
}
.table-manten{
  overflow-x: auto;
}


th, td {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

.edit-cell {
  background-color: #e0e0e0;
}
.btn-man{
  font-size: 16px; /* Cambiar el tamaño del texto de todos los botones */
    padding: 1px 8px; /* Cambiar el padding de todos los botones */
    width: 250px;
    margin: 5px;
    max-width: 100%; /* Ancho máximo del 100% para hacerlos responsive */
    width: auto; /* Ancho automático para adaptarse al contenido */
    box-sizing: border-box; /* Mantener el tamaño total, incluyendo el relleno */
    background-color: #57b7ee;
}
.buton-manten{
  text-align: center; /* Centrar los botones horizontalmente */
  margin: 20px 0; /* Agregar espacio en la parte superior e inferior de los botones */
}
.product-container {
  text-align: center; /* Centrar los elementos de la lista horizontalmente */
  margin: 20px 0; /* Agregar espacio en la parte superior e inferior de la lista de productos */
}
#product-ul {
  list-style-type: none; /* Quitar los marcadores de lista */
  padding: 0; /* Eliminar el relleno por defecto de la lista */
  margin: 0; /* Eliminar el margen por defecto de la lista */
  display: flex; /* Usar Flexbox para la disposición en filas */
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan en varias filas */
    justify-content: center; /* Centrar horizontalmente los elementos en la fila */
}

/* Estilos para los elementos de la lista de productos */
#product-ul li {
  margin: 10px 0; /* Agregar espacio entre los elementos de la lista */
  width: calc(33.33% - 20px); /* Calcular el ancho para tres columnas con margen */
}


/* tabla de mantenimiento*/
.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
}
.btn-small {
  padding: 5px 50px;
  font-size: 12px;
  width: 200px;
}

/* Otros estilos  */
.container-tabla {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.btn {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
}

.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #007bff;
  color: #fff;
}

.btn-danger {
  background-color: #dc3545;
}


/* Agregamos estilo para alinear la descripción debajo de la imagen */
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%; 
  overflow: hidden;
}

.style-text {
  margin-top: 10px;
  text-align: center;
}

/* Estilo para dar espacio entre la imagen y el botón */
.image-container img,
.image-container button {
  margin-bottom: 10px;
}
/*portafolio index.html*/
.portafolio{
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(assets/img/fondoportafolio2.jfif);
  position: relative;
  padding: 10%;
  margin-top: 10px;
  margin-bottom: 100px;


}
.portafolio .row{
  background-color: rgba(1, 1, 1, 0.7);
  color: #fff;
  padding: 2%;
}
.ewk_cont_img{
  padding: 5%;
}


/* ESTO ES PARA EL FOOTER */
.terminar {
  --footer-bg-color: rgba(1, 1, 1, 0.7);
  background-color: var(--footer-bg-color);
  color: #fff; /* Color de texto blanco */
  padding: 2rem 0; /* Reduce el espacio superior e inferior */
  position: relative;
}

.ewk_cont_footer .container.terminar {
  padding: 1rem 0; /* Reduce el espacio superior e inferior del contenedor */
}

.ewk_cont_footer .row {
  margin: 1rem 0; /* Reduce el margen superior e inferior entre las filas del footer */
}

.ewk_cont_footer .col-md-3 {
  margin-bottom: 1rem; /* Reduce el margen inferior entre las columnas del footer */
}

.ewk_cont_footer a {
  text-decoration: none; /* Quita el subrayado de los enlaces */
}

/*contact*/


body{
  background: linear-gradient( #e9e9e9 30%, #e9e9e9 10%);
  align-items: center;
    justify-content: center;
    
}

.contact-container {
  background: rgba(0, 0, 0, 0.5); /* Fondo ligeramente sombreado */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.contact-form {
  background: #7fc1f7;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: left; /* Alineación del formulario */
}

.contact-info-box {
  background: #7fc1f7; /* Fondo oscuro */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.contact-info p {
  font-size: 16px;
  margin: 10px 0;
}

.contact-info {
  word-wrap: break-word; /* Ajusta el texto para que quepa dentro del contenedor */
}

.colorful-border {
  border: 2px solid transparent;
  border-image: linear-gradient(0deg, #f06, #f90, #09f, #f06);
  border-image-slice: border-box;
  border-image-slice: 1;
  transition: border-image 0.3s ease;
}

.colorful-border:focus, .colorful-border:hover {
  border-color: rgb(15, 11, 243);
}

/* contacto*/
    
/*servicios*/
.servicios{
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("assets/img/fondo3.png");
  background-attachment: fixed;
}

.card-group{
  margin: 0 auto !important;
}
.servicios h1,h2,h3,h4,h5,h6{
  
  text-transform: uppercase;
}
.card-img-top{
  width: 300px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 30px;
} 

/* Estilos para el carrusel de imágenes */
.carrousel-img {
  margin-right: 0;
  padding-right: 0;
}


.buscador{
  background-color: #e75116;
}

/*diseño tabla*/
table, th, td {
  border: 1px solid black;
}
.tab-man{
  overflow-x: auto;
}

.btn-edit, .btn-delete {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 5px;
}

.btn-edit {
  background-color: #0099ff;
  color: white;
}

.btn-delete {
  background-color: #f44336;
  color: white;
}

@media screen and (max-width: 600px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  #intro {
    width: 80% !important;
  }
  .carrousel-img {
    width: 100%;
  }
  .text-pag {
    width: 80%;
  }
  .styles-pc {
    width: 80%;
  }
  .center-content {
    width: auto;
  }
}

.styles-pc h5 {
  margin-left: auto;
  margin-right: auto;
  width: 200px; /* Ajusta el ancho del contenedor del texto */
  margin-top: 10px; /* Ajusta el margen superior según sea necesario */
  margin-bottom: 10px; /* Ajusta el margen inferior según sea necesario */
}
.nav-item a:hover{
  background-color: rgb(205, 211, 250);
  padding: 15px 5px;
  color: black;
  border-bottom: 5px solid #ffae00;
  border-radius: 5px;
}

.navbar-nav .nav-link {
  font-weight: bold;
}

.centrar-imagen {
  display: block;
  margin: 0 auto;
}

.descripcion-producto {
  display: none; /* Inicialmente oculto,*/
  border: 1px solid #ccc; /* Bordes */
  border-radius: 5px; /* Bordes redondeados */
  padding: 15px; /* Espaciado interno */
  margin-top: 20px; /* Margen superior */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra ligera */
  max-width: 90%; /* Ancho máximo */
  margin-left: auto; /* Centrar horizontalmente */
  margin-right: auto; /* Centrar horizontalmente */
  background-color: white;
}

.style-container .btn {
  margin-top: auto; /* Alinea el botón hacia abajo dentro del contenedor */
}

@media (max-width: 1310px) {
  .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }

  .navbar-nav .dropdown-menu .dropdown-item {
    padding: 0.5rem 1rem;
  }
}

.bg-custom {
  background-color: #ffffff; /* Cambia por el color que desees */
}


.card {
  position: relative;
  width: 300px;
  margin: 10px;
  height: 380px;
  background: #000;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);
  display: flex;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.card:hover {
  width: 600px;
}

.card .imgBx {
  position: relative;
  min-width: 300px;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card .imgBx img {
  max-width: 250px;
  transition: 0.5s ease-in-out;
}

.card:hover .imgBx img {
  transform: rotate(-25deg) translateX(-180px);
}

.card .details {
  position: absolute;
  left: 0;
  min-width: 300px;
  height: 100%;
  background: #4ba9e9;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  z-index: 1;
  opacity: 0; /* Inicialmente oculto */
  transition: 0.5s ease-in-out;
}

.card:hover .details {
  left: 300px;
  opacity: 1; /* Mostrar los detalles al pasar el cursor */
}

.card .details::before {
  content: '';
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff;
}

.card .details h3,
.card .details h4,
.card .details p,
.card .details .number,
.card .details .group {
  opacity: 0; /* Inicialmente oculto */
  transition: 0.5s ease-in-out;
  transition-delay: 0.5s; /* Retraso en la aparición de los elementos */
}

.card:hover .details h3,
.card:hover .details h4,
.card:hover .details p,
.card:hover .details .number,
.card:hover .details .group {
  opacity: 1; /* Mostrar los elementos al pasar el cursor */
}

.card .details h3 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1em;
}

.card .details h3 span {
  font-size: 0.65em;
  font-weight: 300;
  text-transform: none;
  opacity: 0.85;
}

.card .details h4 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9em;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1em;
}

.card .details p {
  color: #fff;
  opacity: 0.85;
  font-size: 0.8em;
}

.card .details .number {
  display: flex;
  gap: 10px;
}

.card .details .number li {
  list-style: none;
  color: #fff;
  font-size: 0.9em;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  opacity: 0.65;
  }
.card .details .number li:hover {
  color: #4ba9e9;
  background: #fff;
  opacity: 1;
}

.card .details .group {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.card .details .group h2 {
  color: #fff;
  font-weight: 600;
  font-size: 2em;
}

.card .details .group h2 sup {
  font-weight: 300;
}

.card .details .group h2 small {
  font-size: 0.75em;
}

.card .details .group a {
  display: inline-flex;
  padding: 10px 25px;
  background: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: #4ba9e9;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra las filas horizontalmente */
  width: 100%; /* Asegura que la fila ocupe todo el ancho disponible */
}

.column {
  flex: 0 0 25%; /* Ajusta el ancho de las columnas al 25% */
  padding: 10px; /* Agrega un poco de espacio entre las columnas */
}

.container1 {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 200px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

#wrap {
  width: 964px;
  margin: auto;
  /* min-height: 100%; */
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px;
  background: url(blue.png);
  background-size: cover;
}
