.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: rgb(163, 165, 175);
    font-weight: bold;
}

.menu-icon {
    display: none; /* Ocultar el ícono del menú en pantallas grandes */
    flex-direction: column;
    cursor: pointer;
}

.menu-icon span {
    height: 4px;
    width: 30px;
    background: rgb(224, 22, 22);
    margin: 4px 0;
}

/* fin menu de navegacion */

/* ESTILOS DE PRODUCTOS */
.productos {
    display: flex;
    justify-content: space-between; /* Distribución equitativa de los productos */
    flex-wrap: wrap; /* Permitir que los productos se envuelvan en filas */
    gap: 10px; /* Espaciado horizontal entre los productos */
    margin: 0 auto; /* Centra la sección de productos en el medio */
    max-width: 80%; /* Limita el ancho de la sección de productos */
}

.producto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /* Centra los elementos verticalmente */
    width: calc(22% - 10px); /* Reducido el ancho de cada producto */
    margin-bottom: 20px; /* Espacio vertical entre los productos */
    padding: 10px;
    border: 2px solid #000000;
    text-align: center;
    border-radius: 10px;
}

.producto img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.producto h2 {
    margin: 10px 0;
    color: white; 
}

.producto p {
    margin-bottom: auto; /* Evita que el texto se baje al centrar los botones */
}


.resaltado {
    background-color: yellow;
    text-decoration: underline; /* Esto agrega el subrayado */
}


/* Estilos responsivos */
@media screen and (max-width: 768px) {
    header {
        padding: 10px;
    }

    main, footer{
        max-width: 100%;
    }

    .menu {
        display: none; /* Ocultar la lista de menú en pantallas pequeñas */
        flex-direction: column;
        text-align: center;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
    }

    .menu.active {
        display: flex; /* Mostrar la lista de menú cuando el menú está activo */
    }

    .menu li {
        margin: 10px 0;
    }

    .menu-icon {
        display: flex; /* Mostrar el ícono del menú en pantallas pequeñas */
    }

    .productos {
        flex-direction: column;
    }

    .producto {
        width: 95%;
    }
}

.nav-item a:hover{
    background-color: #6ea8fe;
    padding: 15px 5px;
    color: black;
    border-bottom: 5px solid #3d8bfd;
    border-radius: 5px;
}

.navbar-nav .nav-link {
    font-weight: bold;
}

  .style-container {
    background-color: #f8f9fa; /* Color de fondo gris claro */
    border: 2px solid #fffbfb; /* Borde negro de 2 píxeles de grosor */
    border-radius: 0.75rem; /* Grado de redondeo de los bordes */
    box-shadow: none; /* Elimina el efecto de sombra */
  }
.bubble-text {
    font-size: clamp(2rem, 4vw, 4rem);
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  &.split-text {
    display: inline-flex;
  }

  & .split-char {
    font-weight: 200;
    transition: font-weight 0.5s ease;

    &:hover {
      font-weight: var(--_fw-900);
      color: var(--_clr-900);
    }

    /* // right side */
    &:hover + .split-char {
      font-weight: var(--_fw-700);
      color: var(--_clr-700);
    }
    &:hover + .split-char + .split-char {
      font-weight: var(--_fw-400);
      color: var(--_clr-400);
    }

    /* // left side */
    &:has(+ .split-char:hover) {
      font-weight: var(--_fw-700);
      color: var(--_clr-700);
    }
    &:has(+ .split-char + .split-char:hover) {
      font-weight: var(--_fw-400);
      color: var(--_clr-400);
    }
  }
}

@media (max-width: 767px) {
    .bubble-text {
      font-size: 2rem;
    }
}
  
@media (min-width: 768px) {
    .bubble-text {
      font-size: 3rem;
    }
}
  
@media (min-width: 1200px) {
    .bubble-text {
      font-size: 4rem;
    }
}



  
